<div class="sidebar">
    <ul class="menu">
      <li>
        <a href="#">Journal Club</a>
        <ul class="submenu">
          <li><a href="/admin/component/addjournalclub.html">Add</a></li>
          <li><a href="/admin/component/editjournalclub.html">Edit</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Publication</a>
        <ul class="submenu">
          <li><a href="#">添加Publication</a></li>
        </ul>
      </li>

      <li><a href="#">项目3</a></li>

      <li><a href="#">项目4</a></li>
    </ul>
</div>
  